:root {
    --theme-body-dynamic-color-1: #000;
    --theme-body-dynamic-color-1--rgb: 0, 0, 0;
    --theme-body-dynamic-color-2: #e6e6e6;
    --theme-body-dynamic-color-2--rgb: 230, 230, 230;
    --theme-page-dynamic-color-1: #fff;
    --theme-page-dynamic-color-1--rgb: 255, 255, 255;
    --theme-page-dynamic-color-1--inverted: #000;
    --theme-page-dynamic-color-1--inverted--rgb: 0, 0, 0;
    --theme-page-dynamic-color-2: #e6e6e6;
    --theme-page-dynamic-color-2--rgb: 230, 230, 230;
    --theme-sticky-nav-dynamic-color-1: #fff;
    --theme-sticky-nav-dynamic-color-1--rgb: 255, 255, 255;
    --theme-sticky-nav-dynamic-color-2: #e6e6e6;
    --theme-sticky-nav-dynamic-color-2--rgb: 230, 230, 230;
    --theme-link-dynamic-color-1: #000;
    --theme-link-dynamic-color-1--rgb: 0, 0, 0;
    --theme-link-dynamic-color-2: #3a3a3a;
    --theme-link-dynamic-color-2--rgb: 58, 58, 58;
    --theme-accent-dynamic-color-1: #000;
    --theme-accent-dynamic-color-1--rgb: 0, 0, 0;
    --theme-accent-dynamic-color-2: #3a3a3a;
    --theme-accent-dynamic-color-2--rgb: 58, 58, 58;
    --theme-body-background-color: #2e9315;
    --theme-body-background-color--rgb: 46, 147, 21;
    --theme-body-background-image: none;
    --theme-body-background-image-full: url(https://static.wikia.nocookie.net/ben10/images/0/08/Site-background-dark/revision/latest?cb=20240102034935);
    --theme-body-background-image-desktop: url(https://static.wikia.nocookie.net/ben10/images/0/08/Site-background-dark/revision/latest/scale-to-width-down/1280?cb=20240102034935);
    --theme-body-background-image-large-desktop: url(https://static.wikia.nocookie.net/ben10/images/0/08/Site-background-dark/revision/latest/scale-to-width-down/1500?cb=20240102034935);
    --theme-body-background-image-mobile: url(https://static.wikia.nocookie.net/ben10/images/0/08/Site-background-dark/revision/latest/scale-to-width-down/600?cb=20240102034935);
    --theme-body-background-image-mobile-2x: url(https://static.wikia.nocookie.net/ben10/images/0/08/Site-background-dark/revision/latest/scale-to-width-down/1200?cb=20240102034935);
    --theme-body-background-image-tablets: url(https://static.wikia.nocookie.net/ben10/images/0/08/Site-background-dark/revision/latest/scale-to-width-down/1024?cb=20240102034935);
    --theme-body-background-image-tablets-2x: url(https://static.wikia.nocookie.net/ben10/images/0/08/Site-background-dark/revision/latest/scale-to-width-down/2048?cb=20240102034935);
    --theme-body-text-color: #000;
    --theme-body-text-color--rgb: 0, 0, 0;
    --theme-body-text-color--hover: #333333;
    --theme-sticky-nav-background-color: #22831a;
    --theme-sticky-nav-background-color--rgb: 34, 131, 26;
    --theme-sticky-nav-text-color: #fff;
    --theme-sticky-nav-text-color--hover: #cccccc;
    --theme-page-background-color: #383838;
    --theme-page-background-color--rgb: 56, 56, 56;
    --theme-page-background-color--secondary: #565656;
    --theme-page-background-color--secondary--rgb: 86, 86, 86;
    --theme-page-text-color: #e6e6e6;
    --theme-page-text-color--rgb: 230, 230, 230;
    --theme-page-text-color--hover: #b3b3b3;
    --theme-page-text-mix-color: #8f8f8f;
    --theme-page-text-mix-color-95: #414141;
    --theme-page-accent-mix-color: #327441;
    --theme-page-headings-font: 'Rubik';
    --theme-link-color: #8ecc33;
    --theme-link-color--rgb: 142, 204, 51;
    --theme-link-color--hover: #bbe084;
    --theme-link-label-color: #000;
    --theme-accent-color: #2bb04a;
    --theme-accent-color--rgb: 43, 176, 74;
    --theme-accent-color--hover: #165e27;
    --theme-accent-label-color: #000;
    --theme-border-color: #646464;
    --theme-border-color--rgb: 100, 100, 100;
    --theme-alert-color: #fe2540;
    --theme-alert-color--rgb: 254, 37, 64;
    --theme-alert-color--hover: #fe8a98;
    --theme-alert-color--secondary: #fe8594;
    --theme-alert-label: #000;
    --theme-warning-color: #cf721c;
    --theme-warning-color--rgb: 207, 114, 28;
    --theme-warning-color--secondary: #e79850;
    --theme-warning-label: #000;
    --theme-success-color: #0f983d;
    --theme-success-color--rgb: 15, 152, 61;
    --theme-success-color--secondary: #13c64f;
    --theme-success-label: #000;
    --theme-message-color: #bc66ac;
    --theme-message-label: #000;
    --theme-community-header-color: #000000;
    --theme-community-header-color--hover: #000000;
    --theme-background-image-opacity: 100%;
    --theme-page-text-opacity-factor: 0.7;
    --theme-body-text-opacity-factor: 0.85;
    --theme-link-decoration: none;
}

.skin-fandomdesktop .CodeMirror {
    --codemirror-yellow: #ffd700;
    --codemirror-light-blue: #adf;
    --codemirror-blue: #08f;
    --codemirror-green: #290;
    --codemirror-red: #f50;
    --codemirror-dark-red: #ec4848;
    --codemirror-purple: #c147fe;
    --codemirror-pink: #e0e;
    --codemirror-light-gray: #eee;
    --codemirror-gray: #84a0a0;
}

.mw-highlight {
    --pygments-background: #565656;
    --pygments-err: #fe9999;
    --pygments-c: #80bfbf;
    --pygments-k: #00d100;
    --pygments-o: #b5b5b5;
    --pygments-ch: #80bfbf;
    --pygments-cm: #80bfbf;
    --pygments-cp: #f9a100;
    --pygments-cpf: #80bfbf;
    --pygments-c1: #80bfbf;
    --pygments-cs: #80bfbf;
    --pygments-gd: #ff9a9a;
    --pygments-gr: #fe9999;
    --pygments-gh: #adadff;
    --pygments-gi: #00d200;
    --pygments-go: #b3b3b3;
    --pygments-gp: #adadff;
    --pygments-gu: #ff85ff;
    --pygments-gt: #95b6fe;
    --pygments-kc: #00d100;
    --pygments-kd: #00d100;
    --pygments-kn: #00d100;
    --pygments-kp: #00d100;
    --pygments-kr: #00d100;
    --pygments-kt: #fe96bc;
    --pygments-m: #b5b5b5;
    --pygments-s: #ee9f9f;
    --pygments-na: #a6bf36;
    --pygments-nb: #00d100;
    --pygments-nc: #adadfe;
    --pygments-no: #ff9797;
    --pygments-nd: #d99cff;
    --pygments-ni: #b5b5b5;
    --pygments-ne: #e8a19d;
    --pygments-nf: #adadfe;
    --pygments-nl: #bebe00;
    --pygments-nn: #adadfe;
    --pygments-nt: #00d100;
    --pygments-nv: #b2b0f0;
    --pygments-ow: #d99cff;
    --pygments-w: #bbb;
    --pygments-mb: #b5b5b5;
    --pygments-mf: #b5b5b5;
    --pygments-mh: #b5b5b5;
    --pygments-mi: #b5b5b5;
    --pygments-mo: #b5b5b5;
    --pygments-sa: #ee9f9f;
    --pygments-sb: #ee9f9f;
    --pygments-sc: #ee9f9f;
    --pygments-dl: #ee9f9f;
    --pygments-sd: #ee9f9f;
    --pygments-s2: #ee9f9f;
    --pygments-se: #e6a876;
    --pygments-sh: #ee9f9f;
    --pygments-si: #d8a9bc;
    --pygments-sx: #00d100;
    --pygments-sr: #d8a9bc;
    --pygments-s1: #ee9f9f;
    --pygments-ss: #b2b0f0;
    --pygments-bp: #00d100;
    --pygments-fm: #adadfe;
    --pygments-vc: #b2b0f0;
    --pygments-vg: #b2b0f0;
    --pygments-vi: #b2b0f0;
    --pygments-vm: #b2b0f0;
    --pygments-il: #b5b5b5;
}